@media screen and (min-width: 992px) {


/*	g. bbGall */
#bbGallery .gallItemExtended, #bbGallery .gallItemRegular{
	padding-top: 25%;
}


/*	k. bbFeedback */
#bbFeedback .bbFeedbackContacts:after , #bbFeedback .bbFeedbackPages:after, #bbFeedback .bbFeedbackSubscribe:after{
	width: 1px;
	height: 90%;
	left: 0;
	top: 5%;
}

/*	l. bbMap */
#bbMap{
	height: 20rem
}

}