#sandwich span[data-layer="outer"]:before, #sandwich span[data-layer="outer"]:after, #bbGallery .gallItemRegular:hover:after, #bbFeedback .bbFeedbackContacts:after, #bbFeedback .bbFeedbackPages:after, #bbFeedback .bbFeedbackSubscribe:after, #bbFeedback .bbFCItem:after {
  content: "";
  display: block;
  position: absolute; }

#bbGallery .gallItemRegular, #bbGallery .gallItemRegular:hover:after, #bbGallery .gallItemExtended, #bbNews a .linkImg {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

#bbOrder, #bbMap {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat; }

body {
  color: #5d5d5d; }

h2 {
  color: #000; }

input, textarea {
  outline: none; }

#bbHome {
  color: #fff;
  background-image: url("../imgs/bouquet.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }
  #bbHome > .row {
    background-color: rgba(0, 0, 0, 0.5); }
    #bbHome > .row #bbHomeScrollButton {
      cursor: pointer; }
  #bbHome #bbHomeOrderButton a {
    display: inline-block;
    background-color: #fff;
    color: #000;
    cursor: pointer; }

#navMain {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.75); }
  #navMain a {
    color: #fff; }
    #navMain a:hover {
      color: #5d5d5d; }
    #navMain a.active {
      border-bottom: dotted #5d5d5d 1px; }

#sandwich span[data-layer="outer"] {
  display: inline-block;
  width: 36px; }
  #sandwich span[data-layer="outer"]:before {
    width: 100%;
    height: 1px;
    background-color: #fff;
    top: 0;
    right: 0;
    transform-origin: 100% 0; }
  #sandwich span[data-layer="outer"]:after {
    width: 75%;
    height: 2px;
    background-color: #fff;
    bottom: 0;
    right: 0;
    transform-origin: 100% 100%; }
  #sandwich span[data-layer="outer"] span {
    width: 50%;
    height: 1px;
    background-color: #fff;
    top: calc(50% - 1px);
    right: 0; }
  #sandwich span[data-layer="outer"].active:before {
    transform: rotate(-45deg);
    width: 90%; }
  #sandwich span[data-layer="outer"].active:after {
    transform: rotate(45deg);
    width: 90%;
    height: 1px; }
  #sandwich span[data-layer="outer"].active span {
    visibility: hidden; }

#navXS {
  top: 0;
  left: 0;
  display: none;
  background-color: rgba(0, 0, 0, 0.85); }
  #navXS.active {
    display: block; }
  #navXS a {
    color: #fff; }
    #navXS a:hover {
      color: #5d5d5d; }

#bbAbout {
  background-color: #fff; }

.maidenHeader {
  color: #5d5d5d; }

#aboutDescr a {
  background-color: #fff;
  color: #000;
  border: solid 1px #000; }
  #aboutDescr a:hover {
    color: #fff;
    background-color: #000; }

#bbPrices {
  background-color: #dddddd; }

#bbGallery .gallItemRegular {
  padding-top: 50%;
  cursor: pointer; }
  #bbGallery .gallItemRegular:hover:after {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url(../imgs/enlarge.png);
    background-size: 25%; }
#bbGallery .gallItemExtended {
  padding-top: 100%;
  cursor: pointer; }
  #bbGallery .gallItemExtended h6 {
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); }

#bbOrder {
  background-image: url("../imgs/order.jpg"); }
  #bbOrder h2 {
    color: #fff; }
  #bbOrder input, #bbOrder textarea {
    background: transparent;
    border: solid 2px #5d5d5d;
    color: #fff; }
    #bbOrder input::-webkit-input-placeholder, #bbOrder textarea::-webkit-input-placeholder {
      color: #fff; }
    #bbOrder input:-ms-input-placeholder, #bbOrder textarea:-ms-input-placeholder {
      color: #fff; }
    #bbOrder input::placeholder, #bbOrder textarea::placeholder {
      color: #fff; }

#bbServ {
  background-color: #dddddd; }
  #bbServ img {
    width: 100%;
    height: auto; }
  #bbServ strong {
    color: #000; }
  #bbServ a {
    text-decoration: underline;
    color: #000; }

#bbNews a {
  color: #5d5d5d; }
  #bbNews a .linkImg {
    padding-top: 100%; }
  #bbNews a .linkCaption {
    background-color: #dddddd; }
  #bbNews a h6 {
    color: #000; }

#bbNewsArchiveButton a {
  background-color: #fff;
  border: solid 1px #000;
  color: #000; }
  #bbNewsArchiveButton a:hover {
    background-color: #000;
    color: #fff; }

#bbFeedback {
  color: #fff;
  background-color: #1a1a1a; }
  #bbFeedback .bbFeedbackContacts:after, #bbFeedback .bbFeedbackPages:after, #bbFeedback .bbFeedbackSubscribe:after {
    width: 100%;
    height: 1px;
    left: 0;
    top: 0;
    background-color: #5d5d5d; }
  #bbFeedback .bbFeedbackContacts .lead, #bbFeedback .bbFeedbackPages .lead, #bbFeedback .bbFeedbackSubscribe .lead {
    color: #5d5d5d; }
  #bbFeedback .bbFCItem:after {
    background-position: 0 center;
    background-size: 90%;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 1.5rem;
    height: 1.5rem; }
  #bbFeedback .bbFCItem[data-contact-type="address"]:after {
    background-image: url("../imgs/geo.png"); }
  #bbFeedback .bbFCItem[data-contact-type="hours"]:after {
    background-image: url("../imgs/geo.png"); }
  #bbFeedback .bbFCItem[data-contact-type="phone"]:after {
    background-image: url("../imgs/geo.png"); }
  #bbFeedback .bbFCItem[data-contact-type="email"]:after {
    background-image: url("../imgs/geo.png"); }
  #bbFeedback .bbFeedbackPages a {
    color: #fff; }
  #bbFeedback .bbFeedbackSubscribe form {
    border: solid 2px #5d5d5d; }
  #bbFeedback .bbFeedbackSubscribe input {
    width: 85%;
    background-color: transparent; }
    #bbFeedback .bbFeedbackSubscribe input::-webkit-input-placeholder {
      color: #fff; }
    #bbFeedback .bbFeedbackSubscribe input:-ms-input-placeholder {
      color: #fff; }
    #bbFeedback .bbFeedbackSubscribe input::placeholder {
      color: #fff; }
  #bbFeedback .bbFeedbackSubscribe label {
    width: 15%;
    top: 0;
    right: 0;
    cursor: pointer; }

#bbMap {
  height: 25rem;
  background-image: url("../imgs/map.jpg"); }

#bbFooter {
  color: #fff;
  background-color: #1a1a1a; }
  #bbFooter .bbFooterSocial i {
    cursor: pointer; }
  #bbFooter #up {
    background-color: #5d5d5d; }
  #bbFooter .bbFooterCopy span {
    color: #5d5d5d; }

/*# sourceMappingURL=style.css.map */
