//	Contents
//	a. Variables
//	b. Common styles
//	c. bbHome


#navMain
	background: rgba(0,0,0,.25)
	.container
		background: rgba(0,0,0,.5)
		

//	a. Variables
$fontDark: #000
$fontMiddle: #5d5d5d
$fontLight: #fff

//	b. Common styles
body
	color: $fontMiddle

//	c. bbHome
#bbHome
	color: $fontLight
	background-image: url("../imgs/bouquet.png")
	background-position: center
	background-repeat: no-repeat
	background-size: contain
	>.row
		background-color: rgba(0,0,0,.5)
	#bbHomeOrderButton a
		display: inline-block
		background-color: $fontLight
		color: $fontDark
		text-transform: uppercase
		cursor: pointer