//	Contents //////////////////////////////////////////////////////////////////////////////////

//	a. Variables
//	b. Common styles
//	c. Home
//	d. nav
//	e. About
//	f. bbPrices
//	g. bbGallery
//	h. bbOrder
//	i. bbServ
//	j. bbNews



//	a. Variables/Placeholders /////////////////////////////////////////////////////////////////
$fontDark: #000
$fontMiddle: #5d5d5d
$fontLight: #fff

%pseudo-el-bl-abs
	content: ''
	display: block
	position: absolute
	
%backgr-img-center
	background-position: center
	background-size: contain
	background-repeat: no-repeat


//	b. Common styles //////////////////////////////////////////////////////////////////////////
body
	color: $fontMiddle
	
h2
	color: $fontDark

//	c. Home ///////////////////////////////////////////////////////////////////////////////////
#bbHome
	color: $fontLight
	background-image: url("../imgs/bouquet.png")
	background-position: center
	background-repeat: no-repeat
	background-size: contain
	
	>.row
		background-color: rgba(0,0,0,.5)
	
		#bbHomeScrollButton
			cursor: pointer
	
	#bbHomeOrderButton a
		display: inline-block
		background-color: $fontLight
		color: $fontDark
		cursor: pointer
	
//	d. nav ////////////////////////////////////////////////////////////////////////////////////
#navMain
	color: $fontLight
	background-color: rgba(0,0,0,.75)
	
	a
		color: $fontLight
		&:hover
			color: $fontMiddle
			text-decoration: none
		&.active
			border-bottom: dotted $fontMiddle 1px
			
#sandwich
	span[data-layer="outer"]
		display: inline-block
		width: 36px
		&:before
			@extend %pseudo-el-bl-abs
			width: 100%
			height: 1px
			background-color: $fontLight
			top: 0
			right: 0
			transform-origin: 100% 0
		&:after
			@extend %pseudo-el-bl-abs
			width: 75%
			height: 2px
			background-color: $fontLight
			bottom: 0
			right: 0
			transform-origin: 100% 100%
		span
			width: 50%
			height: 1px
			background-color: $fontLight
			top: calc(50% - 1px)
			right: 0
		
		&.active
			&:before
				transform: rotate(-45deg)
				width: 90%
			&:after
				transform: rotate(45deg)
				width: 90%
				height: 1px
			span
				visibility: hidden
			
#navXS
	position: absolute
	top: 0
	left: 0
	display: none
	background-color: rgba(0,0,0,.85)
	&.active
		display: block
	
	a
		color: $fontLight
		&:hover
			color: $fontMiddle
			text-decoration: none


//	e. About //////////////////////////////////////////////////////////////////////////////////

#bbAbout
	background-color: $fontLight

.maidenHeader
	color: $fontMiddle

#aboutDescr		
	a
		background-color: $fontLight
		color: $fontDark
		border: solid 1px $fontDark
		&:hover
			color: $fontLight
			background-color: $fontDark
			text-decoration: none
			
//	f. bbPrices ///////////////////////////////////////////////////////////////////////////////

#bbPrices
	background-color: lighten($fontMiddle, 50%)

//	g. bbGall /////////////////////////////////////////////////////////////////////////////////

#bbGallery
	.gallItemRegular
		@extend %backgr-img-center
		padding-top: 50%
		cursor: pointer
		&:hover:after
			@extend %pseudo-el-bl-abs
			@extend %backgr-img-center
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba($fontDark, .5)
			background-image: url(../imgs/enlarge.png)
			background-size: 25%			
			
		
	.gallItemExtended
		@extend %backgr-img-center
		padding-top: 100%		
		cursor: pointer
		h6
			color: $fontLight
			background-color: rgba($fontDark, .5)
	
//	h. bbOrder ////////////////////////////////////////////////////////////////////////////////

#bbOrder
	background-color: lighten($fontMiddle, 50%)
	
//	i. bbServ /////////////////////////////////////////////////////////////////////////////////

#bbServ
	background-color: lighten($fontMiddle, 50%)
	
	img
		width: 100%
		height: auto
		
	strong
		color: $fontDark
	
	a
		text-decoration: underline
		color: $fontDark
		&:hover
			text-decoration: none
			
//	j. bbNews /////////////////////////////////////////////////////////////////////////////////
#bbNews
	.bbNewsItem
		.caption
			background-color: lighten($fontMiddle, 50%)
			color: $fontDark
		
#bbNewsArchiveButton
	a
		background-color: $fontLight
		border: solid 1px $fontDark
		color: $fontDark
		&:hover
			background-color: $fontDark
			color: $fontLight