//	Contents //////////////////////////////////////////////////////////////////////////////////

//	a. Variables
//	b. Common styles
//	c. Home
//	d. nav
//	e. About
//	f. bbPrices
//	g. bbGallery
//	h. bbOrder
//	i. bbServ
//	j. bbNews
//	k. bbFeedback
//	l. bbMap
//	m. bbFooter
//	n. modal
//	o. 404
//	p. pageSingle



//	a. Variables/Placeholders /////////////////////////////////////////////////////////////////
$fontDark: #000
$fontMiddle: #5d5d5d
$fontLight: #fff

%pseudo-el-bl-abs
	content: ''
	display: block
	position: absolute
	
%backgr-img-center
	background-position: center
	background-size: contain
	background-repeat: no-repeat
	
%backgr-img-center-cover
	background-position: center
	background-size: cover
	background-repeat: no-repeat
	
%font-weight-900
	font-weight: 900

%transition-025-ease-in
	transition-timing-function: ease-in
	transition-duration: .25s

//	b. Common styles //////////////////////////////////////////////////////////////////////////
body
	color: $fontMiddle
	-ms-user-select: none
	user-select: none
	
	h2
		color: $fontDark
	
input, textarea
	outline: none

//	c. Home ///////////////////////////////////////////////////////////////////////////////////
#bbHome
	@extend %backgr-img-center-cover
	color: $fontLight
	background-image: url("../imgs/example1.jpg")
	
	>.row
		background-color: rgba($fontDark,.5)
	
		#bbHomeScrollButton
			cursor: pointer
	
	#bbHomeOrderButton
		a
			@extend %transition-025-ease-in
			display: inline-block
			background-color: $fontLight
			color: $fontDark
			cursor: pointer
			&:hover
				text-decoration: none
				background-color: rgba($fontLight, .75)
	
//	d. nav ////////////////////////////////////////////////////////////////////////////////////
#navMain
	color: $fontLight
	background-color: rgba($fontDark,.75)
	
	a
		color: $fontLight
		@extend %transition-025-ease-in
		&:hover
			color: $fontMiddle
		&.active
			border-bottom: dotted $fontMiddle 1px
			
#sandwich
	span[data-layer="outer"]
		display: inline-block
		width: 36px
		cursor: pointer
		&:before
			@extend %pseudo-el-bl-abs
			width: 100%
			height: 1px
			background-color: $fontLight
			top: 0
			right: 0
			transform-origin: 100% 0
			@extend %transition-025-ease-in
		&:after
			@extend %pseudo-el-bl-abs
			width: 75%
			height: 2px
			background-color: $fontLight
			bottom: 0
			right: 0
			transform-origin: 100% 100%
			@extend %transition-025-ease-in
		span
			width: 50%
			height: 1px
			background-color: $fontLight
			top: calc(50% - 1px)
			right: 0
		
		&.active
			&:before
				transform: rotate(-45deg)
				width: 90%
			&:after
				transform: rotate(45deg)
				width: 90%
				height: 1px
			span
				visibility: hidden
			
#navXS
	top: 0
	left: 0
	display: none
	background-color: rgba($fontDark,.75)
	&.active
		display: block
	
	a
		color: $fontLight
		@extend %transition-025-ease-in
		&:hover
			color: $fontMiddle


//	e. About //////////////////////////////////////////////////////////////////////////////////

#bbAbout
	background-color: $fontLight

.maidenHeader
	color: $fontMiddle

#aboutDescr		
	a
		background-color: $fontLight
		color: $fontDark
		border: solid 1px $fontDark
		@extend %transition-025-ease-in
		&:hover
			color: $fontLight
			background-color: $fontDark
			
//	f. bbPrices ///////////////////////////////////////////////////////////////////////////////

#bbPrices
	background-color: lighten($fontMiddle, 50%)	
	
	.bbPricesItem
		border-bottom: solid 1px $fontMiddle
		opacity: 1
		
		.itemCover
			opacity: 0
			background-color: rgba($fontLight, .5)
			color: $fontDark
		
	
	.bbPricesImg
		img
			width: 100%
			height: auto
			
#bbPricesNav
		a
			color: $fontMiddle
			@extend %transition-025-ease-in
			&:hover
				color: $fontDark
			&.active
				color: $fontDark
				&:after
					@extend %font-weight-900
					content: "\f0dd"
					font-family: "Font Awesome 5 Free"
					display: block
					position: absolute
					bottom: 0
					left: 0
					width: 100%
					height: 1rem
					text-align: center


//	g. bbGall /////////////////////////////////////////////////////////////////////////////////

#bbGallery
	.gallItemRegular
		@extend %backgr-img-center
		padding-top: 50%
		cursor: pointer
		&:hover:after
			@extend %pseudo-el-bl-abs
			@extend %backgr-img-center
			width: 100%
			height: 100%
			top: 0
			left: 0
			background-color: rgba($fontDark, .5)
			background-image: url(../imgs/enlarge.png)
			background-size: 25%			
			
		
	.gallItemExtended
		@extend %backgr-img-center
		padding-top: 100%		
		cursor: pointer
		h6
			color: $fontLight
			background-color: rgba($fontDark, .5)
	
//	h. bbOrder ////////////////////////////////////////////////////////////////////////////////

#bbOrder
	@extend %backgr-img-center-cover
	background-image: url("../imgs/example.jpg")
	&>.row
		background-color: rgba($fontDark, .75)
	h2
		color: $fontLight
	input, textarea
		background: transparent
		border: solid 2px $fontMiddle
		color: $fontLight
		&::-webkit-input-placeholder
			color: $fontLight
		&:-ms-input-placeholder
			color: $fontLight
		&::placeholder
			color: $fontLight

#bbOrderButton
	a
		color: $fontDark
		background-color: $fontLight
		border: solid 1px $fontLight
		@extend %transition-025-ease-in
		&:hover
			color: $fontLight
			background-color: transparent
			
#bbOrderExtra
	color: $fontMiddle

	
//	i. bbServ /////////////////////////////////////////////////////////////////////////////////

#bbServ
	background-color: lighten($fontMiddle, 50%)
	
	img
		width: 100%
		height: auto
		
	strong
		color: $fontDark
	
	a
		text-decoration: underline
		color: $fontDark
		@extend %transition-025-ease-in
		&:hover
			text-decoration: none
			
//	j. bbNews /////////////////////////////////////////////////////////////////////////////////
#bbNews
	a
		color: $fontMiddle
		.linkImg
			padding-top: 100%
			@extend %backgr-img-center
		.linkCaption
			background-color:  lighten($fontMiddle, 50%)
		h6
			color: $fontDark

			
#bbNewsArchiveButton
	a
		@extend %transition-025-ease-in
		background-color: $fontLight
		border: solid 1px $fontDark
		color: $fontDark
		&:hover
			background-color: $fontDark
			color: $fontLight
			
//	k. bbFeedback //////////////////////////////////////////////////////////////////////////////
#bbFeedback
	color: $fontLight
	background-color: lighten($fontDark, 10%)
	
	.bbFeedbackContacts, .bbFeedbackPages, .bbFeedbackSubscribe
		&:after
			@extend %pseudo-el-bl-abs
			width: 100%
			height: 1px
			left: 0
			top: 0
			background-color: $fontMiddle
			
		.lead
			color: $fontMiddle
		
	.bbFCItem
		&:after
			@extend %pseudo-el-bl-abs
			background-position: 0 center
			background-size: 90%
			background-repeat: no-repeat
			top: 0
			left: 0
			width: 1.5rem
			height: 1.5rem
		&[data-contact-type="address"]:after
			background-image: url("../imgs/geo.png")
		&[data-contact-type="hours"]:after
			background-image: url("../imgs/geo.png")
		&[data-contact-type="phone"]:after
			background-image: url("../imgs/geo.png")
		&[data-contact-type="email"]:after
			background-image: url("../imgs/geo.png")
	
	.bbFeedbackPages
		a
			color: $fontLight
			
	.bbFeedbackSubscribe
		form
			border: solid 2px $fontMiddle
		input
			color: $fontLight
			width: 85%
			background-color: transparent
			&::-webkit-input-placeholder
				color: $fontLight
			&:-ms-input-placeholder
				color: $fontLight
			&::placeholder
				color: $fontLight
			
		label
			width: 15%
			top: 0
			right: 0
			cursor: pointer

//	l. bbMap ///////////////////////////////////////////////////////////////////////////////////
#bbMap
	height: 25rem
	@extend %backgr-img-center-cover
	background-image: url("../imgs/map.jpg")


//	m. bbFooter ///////////////////////////////////////////////////////////////////////////////
#bbFooter
	color: $fontLight
	background-color: $fontDark
	
	.bbFooterSocial
		i
			cursor: pointer
			
	#up
		background-color: $fontMiddle
	
	.bbFooterCopy
		span
			color: $fontMiddle


//	n. modal //////////////////////////////////////////////////////////////////////////////////
#exampleModal
	.modal-footer
		img
			cursor: pointer
			
//	o. 404 ////////////////////////////////////////////////////////////////////////////////////
#page404
	background-color: lighten($fontMiddle, 50%)
	h1
		font-size: 10rem
		line-height: 12rem
	h2
		color: $fontDark
	
	.fixed-bottom
		a
			text-decoration: underline
			color: $fontDark
			

//	p. pageSingle /////////////////////////////////////////////////////////////////////////////
#singlePageArticle
	padding-top: 6rem
	padding-bottom: 3rem
	
.imageContainer
	@extend %backgr-img-center-cover
	background-image: url("../imgs/singlePage.jpg")
	padding-top: 35%

.articleTag
	color: $fontDark
	border: solid 1px $fontDark
	@extend %transition-025-ease-in
	&:hover
		color: $fontMiddle
		border-color: $fontMiddle

#catMainContent
	padding-top: 5rem
	padding-bottom: 3rem
	
	h1 span
		color: lighten($fontMiddle, 50%)
		
	a
		color: $fontMiddle
	
	article:not(:last-child)
		border-bottom: solid 1px $fontMiddle
		


